<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.mach1.audioplayer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFile</key>
	<string>${ICON}</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs to access the camera</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs to access the microphone</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to communicate with Peripheral IMU enabled devices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app uses Bluetooth to communicate with Peripheral IMU enabled devices</string>
	<key>NSMotionUsageDescription</key>
	<string>Accesses headtracking motion data for use of OSC and Mach1 Spatial transmission</string>
</dict>
</plist>
