<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="Hammer.SpinningWheel" version="2.0" targetFramework="net461" />
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net461" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net461" />
  <package id="Prism.Core" version="6.1.0" targetFramework="net461" />
  <package id="Prism.Wpf" version="6.1.0" targetFramework="net461" />
</packages>